* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v37_107 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v37_108 {
  width: 100%;
  height: 79px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}
.v37_109 {
  width: 268px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 11px;
  left: 9px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v37_110 {
  width: 188px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 48px;
  left: 9px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v37_116 {
  width: 616px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 93px;
  left: 103px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v59_77 {
  width: 300px;
  height: 65px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 93px;
  left: 1097px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v59_78 {
  width: 309px;
  color: rgba(0,0,0,0.30000001192092896);
  position: absolute;
  top: 97px;
  left: 1180px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 46px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v57_119 {
  width: 100%;
  height: 662px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 210px;
  left: 22px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v57_120 {
  width: 100%;
  height: 55px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 354px;
  left: 43px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v57_138 {
  width: 310px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 369px;
  left: 69px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v57_121 {
  width: 100%;
  height: 96px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 480px;
  left: 43px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}
.v57_139 {
  width: 733px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 512px;
  left: 69px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v57_122 {
  width: 662px;
  height: 58px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 920px;
  left: 390px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v57_123 {
  width: 155px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 935px;
  left: 643px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v57_124 {
  width: 211px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 227px;
  left: 43px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v57_125 {
  width: 186px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 301px;
  left: 43px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v57_126 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 436px;
  left: 43px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v57_127 {
  width: 94px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 724px;
  left: 43px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v57_128 {
  width: 680px;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 761px;
  left: 43px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v57_142 {
  width: 42px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 766px;
  left: 75px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v57_129 {
  width: 340px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 724px;
  left: 740px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v57_130 {
  width: 680px;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 761px;
  left: 740px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v57_144 {
  width: 114px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 770px;
  left: 763px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v57_135 {
  width: 100%;
  height: 85px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 628px;
  left: 43px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v57_141 {
  width: 682px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 654px;
  left: 69px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v57_136 {
  width: 181px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 592px;
  left: 43px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
